.hond{
    clip-path:polygon(0% 0%, 270% 50%, 100% 100%, 0% 100%);
    margin-left: 100;
}

.box{
    clip-path: polygon(30% 60%, 70% 60%, 70% 50%, 30% 50%); 
    margin-top: -370;
    margin-left: 220;  
   
    
    
}

