.geese{
    font-size: 19px;
    color: green;
    ;
}

h2{
    font-size: 20px;
    color: red;
    margin-top: -10;
}

p{
    color: blue;
}

h3{
    color: blue;
    font-size: 18px;
}

h4{
    color: lightgreen;
    font-size: 16px;
}
h6{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: green;
    margin-top: 10;
    margin-bottom: 10;
}

img{
    width: 400px;
    height: 300px;
    border-radius: 40px;
}