.flex-container{
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid black;
    width: 1200;
    height: 500;
    flex-wrap: wrap;
    padding-left: 10;
    padding-right: 60;
    
    
}

.flex__child{
    border: 2px solid green;
    font-size: larger;
    height: 150;
    width: 200;
    text-align: center;
    margin-right: 20;
    padding-top: 97;
    
    
    
}

.yellow{
    background: yellow;
}

.red{
    background: red;
}

.purple{
    background: purple;
}

.blue{
    background: blue;
}
