.flex-container{
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    width: 1200;
    
    
}

.flex__child{
    border: 2px solid green;
    font-size: larger;
    height: 400;
    width: 300;
    
    
    
}