.container{
    width: 540px;
    margin: 30px auto;
    border: 40px solid pink;
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-areas: "auto auto auto" "auto auto auto" "auto";
    grid-gap: 30px;

   
    
    
}

    .item{
    height: 80px;
    padding-left: 20px;
    padding-top: 30px;
    
    font-size: 30px ;
    
   
   
}

.A{
    background-color: yellow;
    grid-column: 1;
    grid-row: 2 / span 4;
    height: 300px;
}

.B{
    background-color: salmon;
}

.C{
    background-color: red;

}

.D{
    background-color: blue;
    width: 200px;
}

.E{
    background-color: purple;
}

.F{
    background-color: green;
    width: 200xpx;
}

.G{
    background-color: grey;
    height: 160px;
    
   
}