.container{
    width: 450px;
    margin: 30px auto;
    border: 40px solid pink;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-areas: "auto auto auto" "auto auto auto" "auto";
    padding-bottom: 75px;
}

.item{
    height: 50px;
    padding-left: 20px;
    padding-top: 30px;
    grid-area: auto;
    margin-bottom: 20;
    font-size: 30px ;
}

.A{
    background-color: yellow;
}

.B{
    background-color: salmon;
}

.C{
    background-color: red;
}

.D{
    background-color: blue;
}

.E{
    background-color: purple;
}

.F{
    background-color: green;
}

.G{
    background-color: grey;
}